* {
    border: none;
    color: white;
}


.nav-link  {
    color: white;
    text-decoration: none;

}
li a{
    color: white;
    text-decoration: none;
}

.ListUsers{
    color :  #91D7F2;
}

h5 {
    color :  #91D7F2;
}

.searchBar {
    margin-top: 15vh;
}
main {
    padding-top: 7rem;
    display: flex;
    align-content: center;
    justify-content: center;
}
.Allinfo__filter {
    width: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
}




a {
    display: flex;
}

.inlineButton {
    display: flex;
}



