h5 {
    color :  #91D7F2;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
}
.Allinfo__filter {
    width: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.test {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    align-content: center;
}   