body {
    margin: 0;
    padding: 0;
    color :white;
    background: linear-gradient( #604174,#302336);
    font-family: Verdana, sans-serif;
    min-height: 95vh;
}


/** header **/
li {
    list-style-type: none;    
    color : white;

}


header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0.5%;
    margin: 0 , 1px;
    background-color: rgba(63, 43, 77,0.6);
    
}


header h1 {
    margin-left: 1%;
}
a  {
    text-decoration: none;
    color : white
}

.navlist{
    display: flex;
}
.navlist a{
    margin-left: 60px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
   
}
.navlist a:hover{
    border-bottom: 2px solid white;
}


/** ScrollBar **/

::-webkit-scrollbar {
    width: 0;
    background: transparent;

}

.scrollbar {
    position: fixed;
    top : 0;
    right: 0;
    width: 15px;
    height: 0;
    opacity: 0;
    
}


.clickScrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    height: 100px;
}


/** Media queries **/
@media (max-width: 990px){
    .navlist ul{
        position: static;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #132a39;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 7px;
    }
    .pagination {
        font-size: small;
    }
}
