* {
    border: none;
    color: white;
}


h5 {
    color :  #91D7F2;
}

main {
    padding-top: 7rem;
    display: flex;
    align-content: center;
    justify-content: center;
}
.Allinfo__filter {
    width: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.test {
    display: flex;
    max-width: 100vw;
    flex-direction: column;
    align-content: center;
}   


tr,td {
    margin: 0%;
}

a {
    display: flex;
}

.inlineButton {
    display: flex;
}