body {
    display: flex;
    font-size: 5rem;
    align-items: center;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-floating {
    margin: 5%;
}
.boxShadowLogin {
    height : 350px;
    width : auto;
    border-radius: 2.5rem !important;
    box-shadow: 0 0.1rem 1rem rgba(190, 124, 255, 0.64);
}

.boxShadowRegister{
    padding: 25px;
    height : 520px;
    width : 400px;
    border-radius: 2.5rem !important;
    box-shadow: 0 0.1rem 1rem rgba(190, 124, 255, 0.64);
}