*  {
	border: none;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

tr,td {
    display: flex;
    margin: 1%;

}



footer {
    display: flex;
    margin-bottom: 1%;
    flex-direction: row;
    justify-content: center;
}


.action {

    margin: 0 2%;
}
.action a{
    color: white;
    text-decoration: none;
}


.titleTxt {
    display: flex;
	font-size: 47px;
	font-weight: 600;
	border-bottom: 2px solid transparent;
	transition: all .55s ease;
    color: #91D7F2;
    z-index: 1000;
    
}


.LineOne {
    display: flex;
}



h3 {
    color :  #91D7F2;

}

.firstPart {
    flex : 1;
}
.secondPart {
    flex : 4;
}
