*  {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
li a{
    color: white;
    text-decoration: none;
}

tr,td {
    display: flex;
    margin: 1%;
    border:0;
}

td,  th {
    border : 0;
    min-width: 20vh;
}

.ouais {
    background-color: transparent;
}

footer {
    display: flex;
    margin-bottom: 1%;
    flex-direction: row;
    justify-content: center;
}


.action {

    margin: 0 2%;
}


.action a{
    color: white;
    text-decoration: none;
}

.click {
    background-color: #91D7F2;
    margin: 0.5vw;
    border-radius: 30px;
}
.titleTxt {
    display: flex;
    font-size: 47px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    color: #91D7F2;
    z-index: 1000;
    
}

a {
    font-weight: bold;
    text-decoration: none;
    color : white;
}
.LineOne {
    display: flex;
}



h3 {
    color :  #91D7F2;

}

.firstPart {
    flex : 1;
}
.secondPart {
    flex : 4;
}


.clickInfo {
    border-radius: 30px;
}

.followButton {
    border: solid 2px #FFFFFF;
}